.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}


.scrollbar-hide::-webkit-scrollbar {
    width: 0;
}

/* Hide the horizontal scrollbar (if needed) */
.scrollbar-hide::-webkit-scrollbar-horizontal {
    display: none;
}

/* Optionally, style the thumb or track if needed */
.scrollbar-hide::-webkit-scrollbar-thumb {
    background: none;
    /* You can customize the background color or image */
}

.scrollbar-hide::-webkit-scrollbar-track {
    background: none;
    /* You can customize the track background color or image */
}